:root {
  --primary-color: #FD665E;
  --padding-left: 165px;
  --padding-top: 50px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'NewYorkExtraLargeRegular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.6rem
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

li {
  list-style: none;
  display: block;
  padding: 4px 24px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

h2 {
  user-select: none;
  font-size: 48px;
  line-height: 124%;
  letter-spacing: -0.04em;
  color: #000000;
  font-weight: bold;
  display: block;
  width: 500px;
  margin-bottom: 40px;
}

p {
  margin:0;
}

button {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #585858;
  line-height: 40px;
  padding: 4px 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.redText {
  color: var(--primary-color);
}

@font-face {
  font-family: 'NewYorkExtraLargeRegular';
  src: url('./assets/fonts/NewYorkExtraLargeRegular.woff');
}

@font-face {
  font-family: 'NewYorkSmallRegularItalic';
  src: url('./assets/fonts/NewYorkSmallRegularItalic.woff');
}